<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div ng-messages="contatoForm.nome.$error">
        <div class="d-flex justify-content-center w-100" ng-message="required">
            <div class="alert alert-danger w-100">
                Por favor, preencha o nome!
            </div>
        </div>
    
        <div class="d-flex justify-content-center w-100" ng-message="minlength">
            <div class="alert alert-danger w-100">
                O campo nome deve ter no minímo 5 caracteres!
            </div>
        </div>
    </div>

    

    <div class="d-flex justify-content-center w-100" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">
        <div class="alert alert-danger w-100">
            Por favor, preencha o telefone!
        </div>
    </div>

    <div class="d-flex justify-content-center w-100" ng-show="contatoForm.telefone.$error.pattern && contatoForm.telefone.$dirty">
        <div class="alert alert-danger w-100">
            O campo telefone deve ter o formato DDDDD-DDDD
        </div>
    </div>

    <div class="d-flex justify-content-center w-100" ng-show="contatoForm.operadora.$invalid && contatoForm.operadora.$dirty">
        <div class="alert alert-danger w-100">
            Por favor, preencha a operadora!
        </div>
    </div>

    
    
</body>
</html>